NODE_ENV="Development"
PORT=5050
BASE_URL="http://localhost:5050"
DATABASE_URL="postgresql://postgres:1234@localhost:5432/databaseServiceSalao?schema=public"
JWT_SECRET="eyJzdWIiOiIxMjM0NTY3OD"
EMAIL_PASSWORD="xzsnlxdpfeobfoiy"
EMAIL="maiadevcode@gmail.com"